/* xem them cac cach import font 
https://www.onlinewebfonts.com/download/1b40984d7a10bcae004877dc48f4cc8f */

@font-face {
  font-family: "DS-Digital";
  src: url("../fonts/63f874d192fb3892d88d5e26f942b5e2.eot");
  src: url("../fonts/63f874d192fb3892d88d5e26f942b5e2.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/63f874d192fb3892d88d5e26f942b5e2.woff2") format("woff2"),
    url("../fonts/63f874d192fb3892d88d5e26f942b5e2.woff") format("woff"),
    url("../fonts/63f874d192fb3892d88d5e26f942b5e2.ttf") format("truetype"),
    url("../fonts/63f874d192fb3892d88d5e26f942b5e2.svg#DS-Digital")
      format("svg");
}

/* @import url(https://db.onlinewebfonts.com/c/1b40984d7a10bcae004877dc48f4cc8f?family=Digital);*/

body {
  background: #deb887;
  margin: 0;
  font-family: DS-Digital, monospace, serif;
}
